.wrapper800 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper801 {
    width : 100%;
}

.wrapper802 {
    width : 100%;
}

.wrapper803 {
    width : 90%;
    margin : auto;
}

.ProductUpdateHeading {
    font-size : 30px;
    font-weight: bolder;
    color :rgba(0, 0, 0, 0.9);
}

.container800 {
    margin-top : 50px;
}

.wrapper802 {
    border-left : 1px solid rgba(0 , 0 , 0 , 0.2)
}

.AddressProductPageLines {
    font-size: 20px;
    font-weight : bolder;
    color : rgba(0 , 0 , 0 , 0.7)
}

.newProdcutUpdateCard {
    margin-top : 50px;
}

.wrapper806 {
    margin-top : 50px;
    display: flex;
    align-items: center;
}

.wrapper807 {
    font-size : 18px;
    font-weight: bold;
    color : rgba(0 , 0 , 0 , 0.7)
}

.wrapper808 {
    margin-left : 50px;
    padding : 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border : 1px solid rgb(21, 58, 91);
}

.wrapper808:hover {
    background-color: rgb(21, 58, 91);
    color : white;

}

.disabledProductUpdate {
    background-color: rgb(78, 78, 78);
    color : white;
    padding : 10px 30px;
    border-radius: 5px;
    text-align: center;
    cursor : not-allowed;
}

.activeProductUpdate {
    background-color: rgb(21, 58, 91);
    color : white;
    padding : 10px 30px;
    border-radius: 5px;
    text-align: center;
}

.submitButtonProductUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
}
